/* Config / Reset */
/* ******************************************* */
* {
  font-family: "Poppins", sans-serif;
}
/* ******************************************* */



/* Navigation */
/* ******************************************* */
.navbar-brand {
  font-weight: 900;
  letter-spacing: 3px;
}
.navbar-brand::first-letter {
  transform: scale(1.5);
  font-weight: 700;
  color: red;
}
.navbar .buttons .btn {
  font-size: 13px;
}
@media only screen and (max-width: 1090px) {
  .navbar .buttons .btn {
    font-size: 11px;
  }
}
/* ******************************************* */



/* Accueil */
/* ******************************************* */
.card-img {
  object-fit: cover;
  width: 100%;
  border-radius: 0;
}

.hero .card-title {
  font-weight: 900;
  text-shadow: 0px 0px 2px rgb(255, 255, 255);
  margin-bottom: 2rem;
}
.hero .card-title::first-letter {
  color: red;
}
.hero .card-title::after {
  content: "";
  display: block;
  width: 22%;
  height: 1px;
  background: black;
  box-shadow: 1px 10px 7px -7px rgba(0, 0, 0, 0.75);
}
/* ******************************************* */
