/* Config / Reset */
/* ******************************************* */
* {
  font-family: "Poppins", sans-serif;
}
/* ******************************************* */



/* Navigation */
/* ******************************************* */
.navbar-brand {
  font-weight: 900;
  letter-spacing: 3px;
}
.navbar-brand::first-letter {
  transform: scale(1.5);
  font-weight: 700;
  color: red;
}
.navbar .buttons .btn {
  font-size: 13px;
}
@media only screen and (max-width: 1090px) {
  .navbar .buttons .btn {
    font-size: 11px;
  }
}
/* ******************************************* */



/* Accueil */
/* ******************************************* */
.card-img {
  object-fit: cover;
  height: 800px;
  border-radius: 0;
}

.hero .card-title {
  font-weight: 900;
  text-shadow: 0px 0px 2px rgb(255, 255, 255);
  margin-bottom: 2rem;
}
.hero .card-title::first-letter {
  color: red;
}
.hero .card-title::after {
  content: "";
  display: block;
  width: 22%;
  height: 2px;
  transform: translateX(32spx);
  background: black;
  box-shadow: 1px 10px 7px -7px rgba(0, 0, 0, 0.75);
}

.hero .card-text {
  width: 59.7%;
  text-align: justify;
}

@media only screen and (max-width: 1200px) {
  body .hero .card-title {
    font-size: 54px;
  }
  body .hero .container {
    margin: 0;
  }
}
@media only screen and (max-width: 870px) {
  body .hero .card-title {
    font-size: 35px;
  }
  body .hero .card-text {
    font-size: 16px;
    width: 81%;
  }
}
/* ******************************************* */
