* {
  font-family: 'Poppins', sans-serif;
}



/* Navigation */
/* ******************************************* */
.navbar-brand {
  font-weight: 900;
  letter-spacing: 3px;
}
.navbar-brand::first-letter {
  transform: scale(1.5);
  font-weight: 700;
  color: red;
}
.navbar .buttons .btn {
  font-size: 13px;
}
@media only screen and (max-width: 1090px) {
  .navbar .buttons .btn {
    font-size: 11px;
  }
}
/* ******************************************* */

.card-img {
  object-fit: cover;
  width: 100%;
  border-radius: 0;
}